<html ng-app="clockApp">
    <head>
        <title>Clock App</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>My Clock</h1>
        <div ng-controller="TimeCtrl">
            Please enter the name :<input ng-model="userName" type="text"/>
            <p>Current time is - {{timeString}}</p>
            <button ng-click="updateTime()">Update Time</button>
            <p>Your name is - {{userName}}</p>
        </div>
    </body>
</html>